* {
    margin: 0 auto 0 auto;
}

body {
    margin: 30px 150px 0 150px;
}

#video {
    width: 100%;
    height: 450px;
}

.views {
    position: relative;
    font-size: 15px;
}

.w {
    position: relative;
    width: 100%;
}

.p {
    padding: 0 0;
}

.co {
    font-size: 15px;
}